<table>
  <tr>
    <td><a class="menuA" #nav0>{{navigationOpts[0]}}</a></td>
    <td><span class="dot"></span></td>
  </tr>
  <tr>
    <td><a class="menuA" #nav1>{{navigationOpts[1]}}</a></td>
    <td><span class="dot"></span></td>
  </tr>
  <tr>
    <td><a class="menuA" #nav2>{{navigationOpts[2]}}</a></td>
    <td><span class="dot"></span></td>
  </tr>
  <tr>
    <td><a class="menuA" #nav3>{{navigationOpts[3]}}</a></td>
    <td><span class="dot"></span></td>
  </tr>
</table>

<div #cbr class="cbr" [style.width]="textWidth">efg</div>
